@font-face {
    font-family: Lato;
    src: url("https://fonts.googleapis.com/css?family=Lato: 300,400,900");
}

body {
    font-family: "Lato", sans-serif;
}

ul.nav-bar {
    background-color: #84B3AD;
    height: 40px;
    line-height: 30px;
    padding: 0;
}

ul.nav-bar li {
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 0;
    margin: 0 5px;
    width: 100px;
}

ul.nav-bar li:hover {
    background-color: #135E3E;
    padding: 5px 0;
}

ul.nav-bar li a {
    color: white;
    text-decoration: none;
}