@font-face {
    font-family: Lato;
    src: url("https://fonts.googleapis.com/css?family=Lato: 300,400,900");
}

body {
    font-family: "Lato", sans-serif;
}

article.content {
    align-content: center;
    background-color: #FAFAFA;
    border-radius: 15px;
    box-shadow: 10px  11px 35px -14px rgba(0, 0, 0, 0.54);
    padding: 25px;
    width: 550px;
}

article.content h1.image-title {
    letter-spacing: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

article.content img.cat-image {
    border-radius: 50%;
    border: 5px dotted #8B603D;
    float: left;
    margin: 15px;
    width: 200px;
}

article.content p.placeholder-text {
    font-size: 14px;
    text-align: justify;
}